*{
    margin: 0;
    padding: 0;
}
header{
    height: auto;
    background-color: white;
}
header img{
    height: 80px;
    width: 10%;
    margin: auto;   
    display: block;
}
main{
    height: auto;
    background-color: white;
}
footer{
    height: auto;
    background-color: bisque;
}

